<div id="headings">
        <nav id="myNavbar"  class="navbar navbar-expand-md navbar-dark" style="background-color:black">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" id="home" href="/chome">Home   </a>
                </li>
                <li>
                    <a class="nav-link" id="c_view" href="/chome/viewprojects">View Projects   </a>
                </li>
                <li>
                    <a class="nav-link" id="approved_proj" href="/chome/approvedprojects">Approved Projects  </a>
                </li>
                 <li>
                    <a class="nav-link" id="pending_proj" href="/chome/pendingprojects">Pending Projects  </a>
                </li>
                 <li>
                    <a class="nav-link" id="tender" href="/chome/addprojtender">Projects For Tender  </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <p id="userCredentials"  class="nav-link" style="color: green;text-align:center; font-family:'Open Sans', sans-serif;font-weight: normal; font-size: 20px;"> </p>
              <li class="nav-item"><a class="nav-link" href="/" onclick="logout()">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>

<table id="orders">
      <tr>
        <th>Project Type</th>
        <th>Project Name</th>
        <th>Project ID</th>
        <th>Contractor Public Key</th>
        <th>Task</th>
        <th>Amount</th>
        <th>Bill Uploaded</th>
        <th>Bill Approved</th>
        <th>Bill to be Uploaded</th>
        <th>Upload Bill</th>
        <th>Send for Approval</th>
      </tr>
      {{#listings}}
      <tr class="">
        <td>{{data.project_type}}</td>
        <td>{{data.proj_name}}</td>
        <td>{{data.proj_id}}</td>
        <td>{{data.con_key}}</td>
        <td>{{data.task}}</td>
        <td>{{data.bidamount}}</td>
        <td>{{data.cuploaded}}</td>
        <td>{{data.papproved}}</td>
        <form ref='uploadForm' 
            id='uploadForm' 
            action='http://localhost:3000/upload' 
            method='POST' 
            encType="multipart/form-data">
        <div>
          <td><input type="file" name="sampleFile" id="upload" ></td>
        </div>
        <div class="box">
          <td><input type="submit" id="order" value="Upload File" ></td>
        </div>
    </div>
    </form>
        </td>
        <td>
          <center>
            <button class="button" onclick="uploaded(event,'{{address}}')">
              Apply
            </button>
          </center>
        </td>
      </tr>
      {{/listings}}
</table>
<script src='/javascripts/main.js'></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
