<div id="headings">
        <nav id="myNavbar" class="navbar navbar-expand-md navbar-dark" style="background-color:black">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" id="home" href="/phome">Home   </a>
                </li>
                <li>
                    <a class="nav-link" id="padd_new" href="/phome/add_new">Add Project   </a>
                </li>
                <li>
                    <a class="nav-link" id="p_approved" href="/phome/approvedprojects">Approved Projects   </a>
                </li>
                 <li>
                    <a class="nav-link" id="p_pending" href="/phome/pendingprojects">Pending Approvals   </a>
                </li>
                <li>
                    <a class="nav-link" id="p_tender" href="/phome/project_tender">Projects For Tender   </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <p id="userCredentials"  class="nav-link" style="color: green;text-align:center; font-family:'Open Sans', sans-serif;font-weight: normal; font-size: 20px;"> </p>
              <li class="nav-item"><a class="nav-link" href="/" onclick="logout()">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>
    
<table id="orders">
      <tr>
        <th>Project Type</th>
        <th>Project Name</th>
        <th>Project ID</th>
        <th>Contractor Public Key</th>
        <th>Task</th>
        <th>Amount</th>
        <th>Bill Uploaded</th>
        <th>Bill</th>
        <th>Onsite Engineer Approved</th>
        <th>Project View</th>
        <th>Project Report</th>
        <th>Remark</th>
        <th>Approve</th>
        <th>Reject</th>
      </tr>
      {{#listings}}
      <tr class="">
        <td>{{data.project_type}}</td>
        <td>{{data.proj_name}}</td>
        <td>{{data.proj_id}}</td>
        <td>{{data.con_key}}</td>
        <td>{{data.task}}</td>
        <td>{{data.bidamount}}</td>
        <td>{{data.cuploaded}}</td>
        <td><a href={{data.bill}}>Bill Link</a></td>
        <td>{{data.eapproved}}</td>
        <td><a href={{data.picture}}>Picture </td>
        <td><a href={{data.report}}>Project Report </td>
        <td>{{data.reasons}}</td>
        <td>
          <center>
            <button class="button" onclick="approve_proj(event,'{{address}}')">
              Approve
            </button>
          </center>
        </td>
        <td>
          <center>
            <button class="button" onclick="reject_proj(event,'{{address}}')">
              Reject
            </button>
          </center>
        </td>
      </tr>
      {{/listings}}
</table>
<script src='/javascripts/main.js'></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
